body {
    font-family: "Nunito Sans", system-ui, -apple-system, sans-serif;
    font-optical-sizing: auto;
}

.navbar-brand {
    font-family: "Noto Serif Georgian", serif;
    font-weight: 600;
}

.navbar-brand img {
    aspect-ratio: 1;
    width: 2.5rem;
    height: 2.5rem;
}

nav .dropdown button img {
    width: 2rem;
    height: 2rem;
}

nav .dropdown-header img {
    width: 2.5rem;
    height: 2.5rem;
}

.btn-white {
    background-color: #fff;
}

.icon-wrapper {
    width: fit-content;
    height: fit-content;
}

.dashboard-message img {
    width: 10rem;
    height: 10rem;
}

.no-animation {
    transition: none;
}

.sidebar a {
    white-space: nowrap;
}

.sidebar a:hover {
    background-color: #f8f9fa;
}

#sidebar {
    width: 250px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

main {
    transition: margin-left 0.3s ease;
}

main.sidebar-active {
    margin-left: 250px;
}

@media (max-width: 768px) {
    #sidebar.active {
        transform: translateX(0);
    }

    main.sidebar-active {
        margin-left: 0;
    }
}

.no-transition *,
.no-transition #sidebar {
    transition: none;
}

.white-space-nowrap {
    white-space: nowrap;
}

.judul-berita {
    display: inline-block;
    max-width: 20rem; /* Atur sesuai kebutuhan */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
